<div class="eventBox">
  <h3>
    <span class="stepNumber">{{ counter }} . STEP</span
    ><span class="eventName">{{ selectedEvent }}</span>
  </h3>
  <div class="inputBox">
    <ng-select
      [items]="eventsList"
      bindLabel="eventsList"
      autofocus
      bindValue="eventsList"
      (search)="addAttribute()"
      [(ngModel)]="selectedEvent"
    >
    </ng-select>
    <app-attribute
      *ngFor="let eventAttribute of event.attributes"
      [attribute]="eventAttribute"
    ></app-attribute>
    <button (click)="createEmptyAttribute()">
      {{ !event.attributes.length ? '+ Add attribute' : 'Refine more' }}
    </button>
  </div>
</div>
