<div class="operatorSelectBox">
  <button class="borderBtn" (click)="toggleSelect()" (blur)="toggleSelect(false)">
    {{ selectedOperator }}
  </button>
  <div *ngIf="opened" class="dropdown">
    <div class="operatorButtons">
      <div
        class="iconBtn operatorBtn"
        [ngClass]="{ active: attribute.type === 'text' }"
        (click)="setStringOperators()"
      >
        <!-- inline for changing style -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512">
          <path
            d="M183.85 180.676h46.096v181.379c0 10.688 13.027 16.033 26.054 16.033 13.028 0 26.055-5.345 26.055-16.033V180.676h46.096c10.02 0 15.699-11.023 15.699-23.716 0-11.024-4.676-23.048-15.699-23.048H183.85c-11.023 0-15.699 12.025-15.699 23.048 0 12.694 5.678 23.716 15.699 23.716z"
          />
          <path
            d="M492 0H20C8.954 0 0 8.954 0 20v472c0 11.046 8.954 20 20 20h472c11.046 0 20-8.954 20-20V20c0-11.046-8.954-20-20-20zm-20 472H40V40h432v432z"
          /></svg
        ><span>String</span>
      </div>
      <div
        class="iconBtn operatorBtn"
        [ngClass]="{ active: attribute.type === 'number' }"
        (click)="setNumOperators()"
      >
        <!-- inline for changing style -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 32 32">
          <path
            d="M30 12V8h-5.004l1-8h-4l-1 8h-7.998l1-8h-4l-1 8H2v4h6.498L7.5 20H2v4h5l-1 8h4l1-8h8l-1.002 8H22l1-8h7v-4h-6.5l.996-8H30zm-10.5 8h-8l.998-8h7.998l-.996 8z"
          /></svg
        ><span>Number</span>
      </div>
    </div>
    <ul>
      <li [tabindex]="0" (click)="setOperator(operator)" *ngFor="let operator of operators">
        {{ operator }}
      </li>
    </ul>
  </div>
</div>
